//header Icons

.IC-Search {
  background-image: url(../assets/icon/search.svg);
}

.IC-arrow-up-right {
  background-image: url(../assets/icon/arrow-up-right.svg);
}

.IC-arrow-down {
  background-image: url(../assets/icon/arrow-down.svg);
}

// Icons Sizes

.iC-S20 {
  width: 20px;
  height: 20px;
}

.iC-S24 {
  width: 24px;
  height: 24px;
}