// START === General
.cursor-click {
  cursor: pointer;
}

// START === Border Radius
.border-f-radius-s16 {
  border-radius: 16px;
}

.border-f-radius-s8 {
  border-radius: 8px;
}

// END === Border Radius

// START === Border 
.border-f-S1-GRAY {
  border: 1px solid  #D0D5DD;
}
// END === Border 

// START === Shadow
.shadow-of-card {
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
}
// END === Shadow