<div class="py-5 d-flex flex-column align-items-center">
    <p class="m-0 text-center text-main py-1 px-2 font-Medium-s14 bg-parple  border-f-radius-s16"><span class="px-1">Our blog</span></p>
    <h1 class="text-main text-center font-SemiBold-s48-s-36 mt-3">Resources and insights</h1>
    <p class="m-0 text-support2 text-center font-Regular-s20 my-4">The latest industry news, interviews, technologies, and resources.</p>
    <div class="d-flex align-items-center border-f-S1-GRAY border-f-radius-s8 py-2 px-3 bg-white mt-3">
        <i class="d-flex IC-Search img-Background-Cover iC-S20 cursor-click "></i>
        <input class="border-0 px-2" placeholder="Search" type="text">
    </div>
</div>