@tailwind base;
@tailwind components;
@tailwind utilities;

// input 

input::placeholder { 
    color: #667085;
}
input:focus-visible {
    outline: unset !important;
    outline-offset: unset !important;
}